<li>{{#link-to 'question' question.id}}{{question.questionAttr}}{{/link-to}}{{question.author}}</li>
{{update-question question=question updateQuestion="updateQuestion"}}
<button {{action 'destroyQuestion' model}}>Delete</button>
