
<section class="all-questions">
<ul>
  {{#each model.questions as |question|}}
  {{question-tile question=question destroyQuestion="destroyQuestion" }}
  {{/each}}
</ul>
</section>

<section>{{new-question saveQuestion="saveQuestion" }}</section>
